body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  
  background-color: #1F2937;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  }
  
#title-span{
    color: #4ADF86
}

#horizontal-line{
    width: 100%;
    height: 1px;
    background-color : #2F3E53;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    font-size:50px;
    margin-bottom: 0px;
}
h2{
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 100;
    
}

#generate-btn{
    color: white;
    background-color: #4ADF86;
    padding : 10px 20px;
    border : none;
    border-radius:5px;
    width: 211px;
    font-weight: bold;
}

#container{
    display:flex;
    gap:5px;
}
#options{
    font-weight: 100;
    margin-top: 0.05rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
}
.password{
    width: 211px;
    height: 39px;
    color:#4ADF86;
    background-color: #273549;
    border:none;
    border-radius: 6px;
    text-align: center;
    align-content: center;
}

#length-field{
    width: 7rem;
}
